%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %nav
        %ul.nav.pull-right
          %li
            = link_to "All Tasks", tasks_path
          %li
            = link_to "New Task", 'tasks/new'
